!!! 5
html
  head
    title Isart Game
    link(type="text/css", rel="stylesheet", href="/css/main.css")
    link(type="text/css", rel="stylesheet", href="/css/game.css")
    script(type="text/javascript", data-main="/scripts/main", src="/scripts/libs/require.js");
  body
   #wrapper
    #game_wrapper