!!! 5
html
  head
   title Isart Game
   link(type="text/css", rel="stylesheet", href="/css/main.css")
  body
    #wrapper
     #header 
      h1 Multi Ligth Cycle
     #body
      #presentation
       h2 Entrez dans l'arène et essayez de survivre !  
      #presentation
       h3 Multi Ligth Cycle est un jeu multijoueurs d'action et de réfléxion.
       h3 Vous devez vous deplacer grâce au flèches directionnelles de votre PC et piéger vos adversaires entre vos murs de lumière.
       a(href="/game") Cliquez ici pour jouer !
       h3 Ou bien
       a(href="/technique") Cliquez ici pour avoir les details tecniques du jeu !




    
